@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "death";
  src: url(../public/DeathSpirit-1GKVe.ttf);
}

@font-face {
  font-family: "relocation";
  src: url(../public/Relocation-EaYL4.ttf);
}
